[Unit]
Description=Re-ensure the cockpit every minute

[Timer]
OnBootSec=120
OnUnitActiveSec=1min
AccuracySec=15s
Unit=cockpit-ensure.service

[Install]
WantedBy=timers.target
